NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_PORTAL_URL=
NEXT_PUBLIC_COURSE_FINDER_URL=
NEXT_PUBLIC_CONTACT_FORM_ENDPOINT=
NEXT_PUBLIC_CONTACT_EMAIL=
NEXT_PUBLIC_CONTACT_PHONE=
NEXT_PUBLIC_CONTACT_ADDRESS=
NEXT_PUBLIC_WHATSAPP_URL=
